.cart-container {
    position: absolute;
    top: 70px;
    background-color: #fff;
    right: 0;
    width: 40%;
    z-index: 10;
    height: calc(100vh - 70px);
    padding: 20px 15px;
    overflow: auto;
}
@media (max-width: 1100px) {
    .cart-container {
        width: 50%;
    }
}
@media (max-width: 800px) {
    .cart-container {
        width: 70%;
    }
}
@media (max-width: 525px) {
    .cart-container {
        width: 90%;
    }
}
.cart-container::-webkit-scrollbar {
    display: none;
}

.cart-container .cart-title,
.cart-container .cart-total {
    font-weight: bold;
    font-size: 1.4rem;
}
