.loading-container,
.error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    height: calc(100vh - 70px);
}
.products-container {
    height: calc(100vh - 70px);
    overflow: auto;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2%;
    row-gap: 10px;
}
.products-container::-webkit-scrollbar {
    display: none;
}
